/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #555555;
    font-family: 'Noto Sans',sans-serif;
}
/**********************************************************************/
/************************** COMMON ELEMENTS **************************/
/********************************************************************/
h1, h2, h3, h4, h5, h6 {
	color: white;
    font-family: 'Roboto Condensed',sans-serif;
}
p {
	line-height: 1.6;
	font-size: 16px;
}

.jumbotron {
	/*background: url(../img/FullSizeRender.jpg) no-repeat center center scroll;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 48px;
	color: white;
    /*padding-top: 140px;*/
	margin-bottom: 0px;
/*	opacity: 0.4;
*/}

/* styles for columns not used */
.textBox{
	background-color: rgba(0,0,0,0.7);

}

.ulBox{
	background-color: rgba(0,0,0,0.6);
}

ul.bullets li{
	font-size: 20px;
}

#check{
	margin-bottom: 10px;
}
h2.sectionTitle {
	color: #428BCA;
    font-size: 50px;
    margin-top: 0;
    text-align: center;
	font-weight: 700;
    margin-bottom: 50px;
}
h3.sectionTitle {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
	color:black;
}
#featureWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#featureWrap .icon {
	-webkit-transition:All 0.2s linear;
	-moz-transition:All 0.2s linear;
	-o-transition:All 0.2s linear;
}
#featureWrap .fa-stack.icnC {
    color: #428BCA;
    font-size: 74px;
}
#featureWrap .icon {
	background-color: #428BCA;
    border: 4px solid #428BCA;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    font-size: 80px;
    height: 148px;
    line-height: 140px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 148px;
}
#featureWrap .icon:hover {
    color: #428BCA;
	background-color: #fff;
    cursor: default;
}
#featureWrap h3 {
	font-weight: 700;
	color: black;
}

#productWrap {
	/*padding-top: 60px;*/
	padding-bottom: 60px;
}
#productWrap .productFeatures {
/*	margin-top: 20px;  removed with new generic ipad image - maybe put back later */
}
#productWrap .productFeatures h3 {
	margin-top: 0;
	color: #428BCA;
}
#productWrap .productFeatures p {
	margin-bottom: 50px;
}
#productWrap .productFeatures .icon {
	text-align: right;
	color: #428BCA;
	font-size: 20px;
}

/**********************************************************************/
/************************ PRICING ************************************/
/********************************************************************/

#pricingWrap {
	/*padding-top: 60px;*/
	padding-bottom: 60px;
}
#pricingWrap .priceTable {
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	background: #fff;
	list-style: none outside none;
	text-align: center;
}
#pricingWrap .priceTable .title {
	color: #333333;
	font-size: 34px;
	font-weight: 700;
	padding: 20px 10px 0;
	font-family: 'Roboto Condensed',sans-serif;
}
#pricingWrap .priceTable .description {
    color: #777777;
    font-size: 14px;
	padding: 10px 10px 20px;
}
#pricingWrap .priceTable .price {
	background: #F2F2F2;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	color: #333333;
	font-size: 26px;
	margin-bottom: 20px;
	padding: 15px 10px;
}
#pricingWrap .priceTable ul.features {
    margin: 0;
    padding: 0;
	list-style: none outside none;
}
#pricingWrap .priceTable ul.features li {
	border-bottom: 1px dotted #D2D2D2;
    color: #333333;
    font-size: 16px;
    margin: 0 30px;
    padding: 15px 0;
    text-align: center;
}

#pricingWrap .priceTable ul.features li a {
    color: #fff;
}
#pricingWrap .priceTable .call {
	margin: 30px 10px;
}
#pricingWrap .priceTable .call .btn {
	width: 70%;
}
#pricingWrap .priceTable.alt {
	border-color: #428BCA;
	background: #428BCA;
}
#pricingWrap .priceTable.alt .title {
	color: #fff;
}
#pricingWrap .priceTable.alt .description {
    color: #fff;
}
#pricingWrap .priceTable.alt .price {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	color: #333333;
}
#pricingWrap .priceTable.alt ul.features li {
	border-bottom: 1px dotted #fff;
    color: #fff;
}
#pricingWrap .priceTable.alt .call .btn {
	background: #FFFFFF;
    border-color: #FFFFFF;
	color: #333;
}


/**********************************************************************/
/************************ TESTIMONIALS *******************************/
/********************************************************************/

#testimonialsWrap {
	padding-top: 60px;
	padding-bottom: 40px;
}
#testimonialsWrap .slides {
	text-align: center;
}
#testimonialsWrap .quote {
	color: #777777;
	font-size: 24px;
	font-style: italic;
	margin-bottom: 15px;
}
#testimonialsWrap .author {
	color: #428BCA;
	font-size: 20px;
}

/**********************************************************************/
/************************ CONTACT ************************************/
/********************************************************************/
#contactWrap {
	/*padding-top: 60px;*/
	padding-bottom: 60px;
}
#contactWrap .overlay {
    /*background: url("../assets/img/60.png");*/
	padding-bottom: 60px;
}
#contactWrap h2.sectionTitle {
    border-bottom: 1px solid #fff;
}
#contactWrap .blurb {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
#contactWrap label {

}
#contactWrap .form-control {
    border: 1px solid #c5c5c5;
    height: 38px;
    line-height: 38px;
    margin: 0 0 10px;
    padding: 8px 5px;
    width: 100%;
	border-radius: 0;
	color: #555;
	box-shadow: none;
}
#contactWrap .form-control:focus {
	border-color: #aaa;
    box-shadow: none;
}
#contactWrap textarea.form-control {
	margin: 0 0 10px;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
	min-height: 120px;
}
#contactWrap button.btn {
    margin-top: 15px;
    width: 100%;
}

/**********************************************************************/
/************************* FOOTER ************************************/
/********************************************************************/
footer {
	background: #444;
	padding: 40px 0;
}
footer p {
	color: #ddd;
    font-weight: 300;
    margin: 0 0 20px 0;
	font-size: 16px;
}
footer .social {
	margin: 0;
}
footer .social a {
	color: #DDDDDD;
	text-decoration: none;
}
footer .social a:hover {
	color: #fff;
}
footer .social a .fa-inverse {
	color: #444;
}

/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/
@media(max-width:1200px){
	.jumbotron .mobile {
		margin-left: -164px;
	}
}
@media(max-width:979px){
	.navbar-collapse {
		float: right;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 16px;
		padding: 25px 12px;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 28px;
		float: left;
		margin: 15px 0;
		width: auto;	
	}
	.navbar-inverse .navbar-brand .fa-stack {
		font-size: 22px;
	}
	.navbar-nav {
		float: left;
	}
	.jumbotron {
		/*padding-top: 100px;*/
	}
	.jumbotron .jumboText {
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 64px;
	}
	.jumbotron .actionBtn {
		margin-bottom: 50px;
	}
	.jumbotron .mobile {
		margin-left: -48px;
	}
	#productWrap .imgWrap img {
		margin: 0 auto 60px;
	}
	#contactWrap .blurb {
		font-size: 20px;
	}

}
@media (max-width: 767px) {
	.navbar-collapse {
		float: none;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		float: left;
		margin: 15px 0 15px 15px;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding: 12px 15px;
	}
	.jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron h1 {
		font-size: 48px;
	}
	.jumbotron h2 {
		font-size: 22px;
	}
	
	#featureWrap .feature {
		margin-bottom: 40px;
	}
	#productWrap .productFeatures .icon {
		font-size: 14px;
	}
	#pricingWrap .priceTable {
		margin-bottom: 60px;
	}
}

/*modal*/

.modal h3, h4{
	color:black;
}


.modal ul{
	color:black;
}

.help-block {
  color: azure;
}

.feature a{
	text-decoration: none;
}


#aboutWrap .blurb{
	 font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    color:black;

}